.editorconfig
.eslintignore
.eslintrc.js
.eslintrc.cjs
.gitignore
.npmignore
.prettierignore
.prettierrc.json
tsconfig.json
updates.config.js
eslint.config.js

node_modules
.github
.vscode
rollup.config.ts

/src
