# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*
.ruff_cache

node_modules
.DS_Store
dist
dist-ssr
dist-electron
dev-dist
dist-dev
coverage
*.local
*.pt
*.partial
.mypy_cache
__pycache__
tree.ts
bkp.py
.dockerignore
/git.sh
python-*
requirements-lock.txt

# Editor directories and files
.idea
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
*.egg-info
.venv*
.camera.ui*
/stubs
/out

# MkDocs build output
/site